.sidebar {
    width: 10rem;
    height: 100vh;
    transition: 250ms;
}

a, span {
    color: white;
    text-decoration: none;
}

span {
    margin-left: 0.5rem;
}

.bg-animation {
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: 250ms;
    background-color: transparent;
}

.bg-animation {
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: 250ms;
    background-color: transparent;
}

.bg-animation:hover {
    transition: 250ms;
    background-color: #198754;
}

.arrow-animation i{
    transition: 250ms;
}

.arrow-animation:hover i{
    transition: 250ms;
    transform: rotate(90deg);
}